header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    padding: var(--spacing-small);
    background: var(--grey-light);
}