/** variables */

html {
    --header-height: 40px;

    --spacing-small: 0.5rem;
    --spacing-medium: 2rem;
    --spacing-large: 4rem;

    --grey-light: #d1d1d1;
    --grey-medium: #848484;
    --grey-dark: #373737;

    --accent: blue;
}

/** layout */

body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

main {
    padding: var(--spacing-small);
    padding-top: calc(var(--header-height) + var(--spacing-small));
}

/** colours */

a, a:visited, a:link, a:focus {
    color: inherit;
    text-decoration: inherit;
}

/** header */

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    padding: var(--spacing-small);
    background: var(--grey-light);

    & .header-navigation {
        display: flex;
        align-items: center;
        gap: var(--spacing-small);

        & .header-navigation-link {
            font-weight: bold;

            &[data-current="true"]{
                color: var(--accent);
            }
        }
    }
}

/** footer */ 

footer {
    padding: var(--spacing-small);
}